th, td {

border-bottom: 1px solid #c0c0c0;
border-collapse: collapse;



}


table {

border-collapse: collapse;
margin: auto;
width: 1400px;
text-align: center;


}

tr:nth-child(odd) {


background: gray;

}

tr:hover:nth-child(odd) {

background: orange;
cursor: pointer;


}

tr:hover:nth-child(even) {

background: rgb(111, 255, 0);
cursor: pointer;


}





